#imgDiv img{
  width: 160px;
  height: 160px;
  position: relative;
  left: 30%;
  right: 30%;
}

#imgDiv{
  width: 100%;
  height: 100%;
}

#browse{
  position: relative;
  top: 10px;
  width: 220px;
  left: 30%;
  right: 30%;
}
