<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Songs</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a>Ads Management</a>
        </li>
        <li class="breadcrumb-item" ><a routerLink="/dashboard/pop-up"> Pop-ups Management</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="content-body">
  <section class="basic-elements">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Ads</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                      <fieldset>
                        <label for="enter">Add an Ad:</label>
                        <button style="margin-top: 5px;" class="btn btn-primary btn-block" (click)="openAdSong(adsSong)">Add</button>
                      </fieldset>
                    </div>
                  </div>
                  <br>
                  <br>
                  <app-spinner *ngIf="showSpinner"></app-spinner>
                  <div class="table-responsive" *ngIf="!showSpinner">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Artist Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of ads; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td class="small">{{item?.title}}</td>
                            <td class="small"><p *ngFor="let it of item.artist">{{it.display}}</p></td>
                            <td class="small">{{item?.status}}
                            </td>
                            <td class="small">
                                <a style="color: green;" *ngIf="item.status !== 'active' " (click)="changeStatus(item, 'active')">Activate</a>
                                <a style="color: red;" *ngIf="item.status === 'active' " (click)="changeStatus(item, 'disable')">Disable</a>
                                <br>
                                <span>View</span>
                                <a style="color: green;" (click)="view(adsSong, item)"><i class="ft-edit"></i></a>
                                <br>
                              <span (click)="delete(item)" style="cursor: pointer;">Delete</span>
                              <a style="color: red" (click)="delete(item)"><i class="ft-trash-2"></i></a>
                            </td>
      
                          </tr>
                        </tbody>
                      </table>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #adsSong let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Upload Song</h4>
      <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="title">Title:</label>
              <input type="text" id="title" [(ngModel)]="data.title"
              class="form-control" placeholder="Title" >
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="oArtist">Original Artist:</label>
              <input type="text" id="oArtist" [(ngModel)]="data.oartist"
              class="form-control" placeholder="Title" >
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-16 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="artist">Artists: <small>(Press Enter for multiple.)</small> </label>
              <tag-input [(ngModel)]='data.artist' secondaryPlaceholder="Atrist Name" theme='bootstrap3-info'></tag-input>
            </fieldset>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="movie">Original Movie:</label>
              <input type="text" id="movie" [(ngModel)]="data.movie"
              class="form-control" placeholder="Title" >
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-16 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="album">Album:</label>
              <input type="text" id="album" [(ngModel)]="album"
              class="form-control" placeholder="Title" >
            </fieldset>
          </div>
          <div class="col-xl-16 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="video">Video Link:</label>
              <input type="text" id="video" [(ngModel)]="video"
              class="form-control" placeholder="Title" >
            </fieldset>
          </div>
        </div>
  
  
  
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 mb-1" id="imgDiv">
            <div class="col-xl-4 col-lg-6 col-md-12 mb-1" >
                <fieldset>
                  <label for="thumbnail">Thumbnail:</label>
                  <img src="{{data?.imageURL || image}}"  alt="User Image" id="thumbnail">
                  <br>
                </fieldset>
                <fieldset id="browse" *ngIf="!viewSong">
                  <label class="custom-file-label" for="upload">Choose an Image</label>
                  <input type="file" class="custom-file-input" id="upload" (change)="upload($event,'image')" accept=".png,.jpg">
                </fieldset>
              </div>
        </div>
            <div class="offset-xl-2 col-xl-4 col-lg-6 col-md-12 mb-1">
                <fieldset id="browse">
                    <label class="custom-file-label" for="songs" *ngIf="!viewSong">Choose a Song</label>
                    <input type="file" class="custom-file-input" id="songs" *ngIf="!viewSong" (change)="upload($event,'audio')" accept="audio/*">
                    <br>
                    <ngx-ui-loader></ngx-ui-loader>
                    <audio controls *ngIf="data.songURL">
                      <source src="{{data?.songURL}}" type="audio/mpeg">
                    </audio>
                  </fieldset>
                 
            </div>
        </div>
  
        <br>
        <div class="row">
          <button type="button" class="btn btn-secondary btn-min-width mr-1 mb-1" (click)="submit()" *ngIf="!viewSong">Add Song</button>
        </div>
  
  
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    </div>
  </ng-template>