<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Payments</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a>Payments Settings</a>
        </li>
      </ol>
    </div>
  </div>
</div>


<div class="content-body">
  <section class="basic-elements">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Ads</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                      <fieldset>
                        <label for="enter">Add a Coupon:</label>
                        <button style="margin-top: 5px;" class="btn btn-primary btn-block" (click)="addCoupon(couponsModal)">Add</button>
                      </fieldset>
                    </div><div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                      <fieldset>
                        <label for="enter">Set Payment:</label>
                        <button style="margin-top: 5px;" class="btn btn-primary btn-block" (click)="setPayment(setPaymentModal)">Set</button>
                      </fieldset>
                    </div>
                  </div>
                  <br>
                  <br>
                  <app-spinner *ngIf="showSpinner"></app-spinner>
                  <div class="table-responsive" *ngIf="!showSpinner">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Discount</th>
                            <th>Expires On</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of coupons; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td class="small">{{item?.name}}</td>
                            <td class="small">{{item.discount}}
                            </td>
                            <td>{{item.date.toDate()}}</td>
                            <td class="small">
                              <span (click)="delete(item)" style="cursor: pointer;">Delete</span>
                              <a style="color: red" (click)="delete(item)"><i class="ft-trash-2"></i></a>
                            </td>
      
                          </tr>
                        </tbody>
                      </table>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #couponsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add a Coupon</h4>
      <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                <fieldset>
                  <label for="title">Coupon:</label>
                  <input type="text" placeholder="Coupon Name" class="form-control" [(ngModel)]="c.name">
                </fieldset>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="title">Discount:</label>
              <input type="number" placeholder="Discount Number" class="form-control" [(ngModel)]="c.discount">
            </fieldset>
    </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                <fieldset>
                  <label for="title">Expires on:</label>
                  <input type="date" placeholder="Coupon Name" class="form-control" [(ngModel)]="c.date">
                </fieldset>
        </div>
        </div>
        <ngx-ui-loader></ngx-ui-loader>
        <br>
        <div class="row">
          <button type="button" class="btn btn-secondary btn-min-width mr-1 mb-1" (click)="addNewCoupon()" >Add Coupon</button>
        </div>
  
  
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    </div>
  </ng-template>

  
<ng-template #setPaymentModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Set Payment for Premium Model.</h4>
      <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                <fieldset>
                  <label for="title">Amount <small>(per year)</small>:</label>
                  <input type="number" placeholder="Amount of Pyment" class="form-control" [(ngModel)]="payment">
                </fieldset>
        </div>
      
        </div>
        <br>
        <div class="row">
          <button type="button" class="btn btn-secondary btn-min-width mr-1 mb-1" (click)="savePayment()" >Save Payment</button>
        </div>
  
  
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    </div>
  </ng-template>