<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Songs</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a>Songs</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="content-body">
  <section class="basic-elements">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Songs</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                      <fieldset>
                        <label for="enter">Add Notification:</label>
                        <button style="margin-top: 5px;" class="btn btn-primary btn-block" (click)="addNotification(addNotific)">Add</button>
                      </fieldset>
                    </div>
                  </div>
                  <br>
                  <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>